<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<ul>
	<form action="/search" method="post">
        <fieldset>
          <legend>Create a new listing</legend>
          <label>
            State:
            <input name="state" />
          </label>
          <input type="submit" value="Create listing" />
        </fieldset>
      </form>

      <form action="/search/other" method="post">
        <fieldset>
          <legend>Create a new listing</legend>
          <label>
            State:
            <input name="city" />
          </label>
          <input type="submit" value="Create listing" />
        </fieldset>
      </form>

    <%listings.forEach(function(listing) { %>
        <li>
            <p>State: </p> <%= listing.state %>
            <p>City: </p> <%= listing.city %>
            <p>Number of Bedrooms: </p> <%= listing.numBedrooms %>
            <p> thumbnail: </p> <img src=<%= listing.thumbnail %> />
        </li>
    <% }) %>
</ul>
