<section class="filter row">
    <div class="btn-group div-centered">
        <form action="filter" method="post" class="form-inline">
                <select name="taskOption">
                        <%  var rooms = 13; %>
                        <% for (var i = 0; i < rooms; i++){ %>
                            <option value=<%= i %>> <%= i %>+ Beds</option>
                        <% } %>
                </select>
            <input type="submit" class="btn btn-primary" value="Apply Filter">
        </form>
    </div>
</section>

<section class="sort row">
    <div class="btn-group div-centered">
        Sort results by:
        <!-- note the extra slash before the prefix -->
        <form action="<% if (locals.fa17g09_env_prefix) { %>/<%= fa17g09_env_prefix %><%}%>/search" method="post" class="form-inline">
                <select name="sortOption">
                    <%
                    var optionsMap = new Map();
                    optionsMap.set("price ASC", "Price (low to high)");
                    optionsMap.set("price DESC", "Price (high to low)");
                    optionsMap.set("numBedrooms DESC", "Number of Bedrooms (descending)");
                    optionsMap.set("numBedrooms ASC", "Number of Bedrooms (ascending)");
                    optionsMap.set("squareFeet DESC", "SqFt (descending)");
                    optionsMap.set("squareFeet ASC", "SqFt (ascending)");
                    for (var [key, value] of optionsMap) {
                        var selected = "";
                        if (locals.previousSortOption) {
                            if  (locals.previousSortOption == key){
                                selected = 'selected="selected"';
                            }
                        }
                        %><option value="<%= key %>" <%= selected %>><%= value %></option>
                    <%}%>
                </select>
                <input name="city" type="hidden" value="<% if (locals.previousSearchString) { %><%=previousSearchString %><%}%>"/>
            <input type="submit" value="Sort" class="btn btn-primary">
        </form>
    </div>
</section>

<section class="row">
    <div class="col-lg-6 col-xs-12 container-map container-left">
        <div class="google-map" id="map"></div>
        <script>
          function initMap() {
            var uluru = {lat: -25.363, lng: 131.044};
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 4,
              center: uluru
            });
            var marker = new google.maps.Marker({
              position: uluru,
              map: map
            });
          }
        </script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLDSCggrty2quBnMYoWkh872wylJdbnLE&callback=initMap">
        </script>
    </div>
    <div class="col-lg-6 col-xs-12 results container-right">
        <div class="results">
            <%listings.forEach(function(listing) { %>
                <a href="listing/result?listing=<%= listing.id %>">
                    <div class="card" >
                        <div class="card-img" style="background-image: url(<%= listing.thumbnail %>);"></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h4 class="card-title"><%= listing.address %></h4>         
                                    <h5 class="card-title"><%= listing.city %>, <%= listing.state %></h5>
                                </div>
                                <div class="col">
                                    <h4 class="card-title">$875,000 <%= listing.price %> </h4>
                                    <h6>
                                        <%= listing.numBedrooms %>
                                        <i class="fa fa-bed" aria-hidden="true"></i>
                                        | 
                                        5 <%= listing.numBathrooms %>
                                        <i class="fa fa-bath" aria-hidden="true"></i>
                                    </h6>   
                                </div>
                            </div>                          
                        </div>
                    </div>
                </a>
            <% }) %>
        </div>
    </div>
</section>