<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<section class="row">
    <div class="results">
        <%listings.forEach(function(listing) { %>   
            <div class="thumbnail">
                <img src=<%= listing.thumbnail %> class="img-responsive" />
                <div class="caption">
                    <p>City: <%= listing.city %> </p> 
                    <p>State: <%= listing.state %> </p> 
                    <p>Number of Bedrooms: <%= listing.numBedrooms %> </p>     
                </div>
            </div>
        <% }) %>
    </div>
</section>
